body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f2f2f2;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
}

form {
    margin: 0 auto;
    width: 70%;
    max-width: 600px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
    color: #444;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    color: #444;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}



/* Additional CSS for visual appeal */

body {
    background-image: linear-gradient(to right, #B3E5FC, #b3e5fc 30%, #E1F5FE 30%, #e1f5fe 60%, #B3E5FC 60%);
}

form {
    border: 3px solid #4CAF50;
}

label,
input[type="text"] {
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    outline: none;
    border-color: #4CAF50;
}
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 28px;
    }

    p {
        font-size: 20px;
    }
}